<img
  src="/assets/imgs/Logo-Tik-Talk.svg"
  alt="side-bar-logo"
  class="ml16 mb20 logo"
/>
<div class="content">
  <nav>
    <ul class="main-menu-list mb20">
      @for (menuItem of menuItems; track menuItem.label) {
      <li>
        <a
          [routerLink]="menuItem.link"
          class="menu-link"
          routerLinkActive="active__link"
        >
          <button class="menu-item">
            <svg-icon [icon]="menuItem.icon" class="icon" />
            <span>{{ menuItem.label }}</span>
          </button>
        </a>
      </li>
      }
    </ul>
  </nav>

  <p class="medium-text mb20 ml16">Подписчики</p>
  @for (profile of subscribers$ | async; track profile.id) {
  <app-subscriber-card [profile]="profile" class="ml16"></app-subscriber-card>
  }

  <div class="mt20 to-subscribers ml16">
    <a [routerLink]="['/subscribers']" class="to-subscribers-link medium-text"
      >Все подписчики
    </a>
    <svg-icon icon="arrow" class="icon-arrow" />
  </div>
</div>
@if (isSettingsOpen) {
<div class="settings-panel settings-panel-shadow mb16">
  <ul class="settings-list">
    <li class="setting-item">
      <svg-icon icon="settings" class="icon"></svg-icon>Настройки
    </li>
    <li class="setting-item" (click)="logout()">
      <svg-icon icon="exit" class="icon"></svg-icon>Выйти
    </li>
  </ul>
</div>
}
<footer class="sidebar__footer">
  @if (me(); as me) {
  <img
    [src]="me.avatarUrl ? (me.avatarUrl | imgUrl) : '/assets/imgs/placeholder-avatar.svg'"
    class="avatar"
    alt="avatar"
  />
  <span>{{ me.username }}</span>
  }
  <svg-icon
    icon="settings"
    class="icon-settings"
    (click)="toggleSettings()"
  ></svg-icon>
</footer>
