:host {
  display: grid;
  padding: 16px;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
}

.textarea__wrapper {
  position: relative;
  display: inline-block;

  .custom-placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--light-transpatent-color);
    pointer-events: none;
    font-size: 16px;
    line-height: 1.5;
  }
}

.hidden-textarea {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  resize: none;
  background-color: var(--dark-color);
  border: none;
  color: var(--light-color);

  &:hover,
  &:focus-visible {
    outline: 1px solid var(--primary-color);
  }
}

.post-form {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 44px;
  align-items: center;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
