.profile-search-form__wrapper {
  background-color: var(--dark-color);
  padding: 16px 20px;
  border: 1px solid var(--light-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 40px;
  position: sticky;
  top: 0;
  z-index: 10;
}
