:host {
  display: grid;
  grid-template-columns: 112px 1fr;
  grid-gap: 24px;
}

.avatar {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.user_name {
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: left;
}
