@if (post(); as post) {
  <app-avatar-circle
    class="size32"
    [avatarUrl]="post.author.avatarUrl"
  ></app-avatar-circle>
  <main class="post-body">
    <div class="post-header">
      <strong class="post__author"
        >{{ post.author.firstName }} {{ post.author.lastName }}
        <span class="post-created-at">{{
          post.createdAt | datePastTimePipe
        }}</span>
      </strong>
    </div>
    <p class="medium-text text-wrapper">{{ post.content }}</p>

    <div class="post-counters">
      <span class="comment-amount">
        <svg-icon icon="comment"></svg-icon>
        <span class="comments-length">{{ comments().length }}</span>
      </span>
    </div>
    @if (comments().length) {
      <div class="comments__wrapper">
        @for (comment of comments(); track comment.id) {
          <app-comment [comment]="comment"></app-comment>
        }
      </div>
    }
    <app-post-input
      class="comment-input"
      [profile]="post.author"
      (onSendClickEvent)="onSendComment($event)"
      #commentInputContent
    ></app-post-input>
  </main>
}
