:host {
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  padding: 20px;
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
  max-height: 400px;
}

.post-body {
  display: grid;
  grid-gap: 12px;
}

.post__author {
  color: var(--light-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.post-created-at {
  color: var(--light-transpatent-color);
}

.comment-amount {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comments-length {
  color: var(--light-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.comment-input {
  border: 1px dashed var(--light-color);
}

.comments__wrapper {
  max-height: 150px;
  overflow-y: scroll;
  display: grid;
  grid-gap: 8px;
  padding-right: 12px;
}

.text-wrapper {
  word-break: break-word;
  white-space: normal;
}
