:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  padding: 16px 20px;
}

.message-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
  padding-right: 8px;
}

.day-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-hover-color);
  width: fit-content;
  padding: 6px 28px;
  margin: 0 auto;
}
