.profile-card {
  border: solid 1px var(--light-color);
  padding: 24px 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 250px 1fr;
  grid-gap: 32px;
}

.avatar-name {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;
}

.profile-card__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  height: min-content;
}

.profile-card__name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sub-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.profile_card__action-btns {
  display: flex;
  gap: 6px;
  align-items: center;
}
