:host {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 140px 1fr;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-color);
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.dropzone {
  border-radius: 2px;
  padding: 16px;
  border: 1px dashed var(--light-color);
  display: grid;
  place-items: center;

  &.fileover {
    border: 1px dashed var(--primary-color);
  }
}

.dropzone-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-input {
  display: none
}

.upload-icon {
  padding: 18px;
}
