@if (me(); as me) {
  <div class="info__wrapper">
    <app-profile-header [profile]="me"></app-profile-header>
    <div class="dash-line mt32"></div>
    <h3 class="h6 mb16 mt32">Навыки</h3>
    <div class="stack-wrapper mb32">
      @for (skill of me.stack; track skill) {
        <div class="skill_tag">{{ skill }}</div>
      }
    </div>
    <h3 class="h6 mb16">О себе</h3>
    <div class="medium-text">{{ me.description }}</div>
  </div>
}
<form class="profile-form_wrapper" [formGroup]="form">
  <div class="profile-form">
    <div class="two-columns">
      <label class="tt-form-label">
        <span class="tt-form-label__text">Имя</span>
        <input type="text" class="tt-form-input" formControlName="firstName" />
      </label>
      <label class="tt-form-label">
        <span class="tt-form-label__text">Фамилия</span>
        <input type="text" class="tt-form-input" formControlName="lastName" />
      </label>
    </div>
    <label class="tt-form-label">
      <span class="tt-form-label__text">Telegram username</span>
      <input type="text" class="tt-form-input" formControlName="username" />
    </label>
    <label class="tt-form-label">
      <span class="tt-form-label__text">О себе</span>
      <textarea
        class="tt-form-input tt-textarea"
        formControlName="description"
        rows="4"
      ></textarea>
    </label>
    <label class="tt-form-label">
      <span class="tt-form-label__text">Аватар</span>
      <app-avatar-upload></app-avatar-upload>
    </label>
    <label class="tt-form-label">
      <span class="tt-form-label__text">Навыки (стэк)</span>
      <input type="text" class="tt-form-input" formControlName="stack" />
    </label>
  </div>
  <div>
    <div>
      <button class="btn" (click)="onSave()">Сохранить</button>
    </div>
  </div>
</form>
