:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  border-bottom: var(--light-border);
}

.companion__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
