.profile-page__header {
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .setting_link {
    width: 175px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--dark-color);

    .settings_icon {
      width: 16px;
      height: 16px;
      color: var(--dark-color);
    }
  }
}

.profile-page__body {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 350px;

  .subscribers-container {
    display: flex;
    gap: 6px;
    align-items: center;

    .subscriber_avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }

    .search_btn {
      margin-left: 8px;
      border-radius: 50%;
      background-color: var(--light-color);
      width: 14px;
      height: 14px;
      position: relative;

      &:before,
      &:after
      {
        content: '';
        position: absolute;
        width: 1px;
        height: 8px;
        background: var(--dark-color);
      }

      &:before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
      }

    }
  }

  .stack-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}
