@if (profile$ | async; as profile) {
  <header class="profile-page__header">
    <app-profile-header [profile]="profile" />
    @if (isMe$ | async) {
      <a class="btn setting_link" [routerLink]="['/settings']">
        Редактировать
        <svg-icon icon="settings" class="settings_icon" />
      </a>
    }
  </header>
  <main class="profile-page__body">
    <app-post-feed></app-post-feed>
    <div class="right-side">
      <h3 class="h6 ml24 mb16">Подписчики</h3>
      <div class="subscribers-wrapper ml24 mb32">
        @for (subscriber of subscribers$ | async; track subscriber.id) {
          <a [routerLink]="['/profile', subscriber.id]">
            <img
              [src]="subscriber.avatarUrl | imgUrl"
              alt="sub_avatar"
              class="subscriber_avatar"
            />
          </a>
        }
        <a [routerLink]="['/search']" class="search_btn"> </a>
      </div>
      <h3 class="h6 ml24 mb16">Навыки</h3>
      <div class="stack-wrapper ml24 mb32">
        @for (skill of profile.stack; track skill) {
          <div class="skill_tag">{{ skill }}</div>
        }
      </div>
      <h3 class="h6 ml24 mb16">О себе</h3>
      <div class="medium-text ml24">{{ profile.description }}</div>
    </div>
  </main>
}
