@if (chat(); as chat) {
  <app-avatar-circle class="size32" [avatarUrl]="chat.userFrom.avatarUrl"></app-avatar-circle>
  <div class="last-message__wrapper">
    <div class="last-message-header">
      <span>{{ chat.userFrom.firstName }} {{ chat.userFrom.lastName }}</span>
      <span>{{ chat.createdAt | datePastTimePipe }}</span>
    </div>
    <div class="last-message-body">
      <span class="last-message-text">{{ chat.message ?? '...' }}</span>
      @if (chat.unreadMessages) {
        <div class="unread-messages-count">{{ chat.unreadMessages }}</div>
      }
    </div>
  </div>
}
